/* Reset some default styles */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}

/* Global styles */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

#photo.container {
  padding: 0;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-color: rgb(47, 169, 235);
  color: #fff;
  padding: 10px;
}


nav ul li {
display: inline-flex;
  margin-left: 100px;
}


nav ul li a {
  color: #fff;
 align-items: flex-end;
}

#myPic {
  display: flex;
  float: right;
  height: 10rem;
  border-radius: 4rem;
}

/* Sections */

section {
  padding: 10px, 0;
}

#about {
  display: flex;
  background-color: rgb(255, 255, 80);
}

#projects .project {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ccc
}

#contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#contact label,
#contact input,
#contact textarea,
#contact button {
  margin-bottom: 10px;
}

#contact input,
#contact textarea {
  padding: 5px;
  border: 1px solid #ccc;
}

#contact button {
  background-color: #ccc;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #ccc;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}